body{
    
    background-color: #f3f3f3; 
    max-width: 2460px;   
    
    /*
    border: .3rem double #000066; 
    background-color: #7d7daf; 
    */
    
        
}
.ktainer{

    width:50%;
    margin: auto;
    
    

}
.kcarddash {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    ;
    background-color: #f3f3f3; 

    
}
.kcarddash img{
    width:50%;    
    border-radius: 30%;
    
    margin: auto;   

}
.kcarddash label{      
    margin: auto;
    font-size: 15rem;   

}

