body{
    
    max-width: 100%; 
    min-width: 280px;
    min-height: 180px;
    border: .3rem double #000066;
    
    
}
.ktainer{

    width:100%;
    margin: auto;
    
    

}
.kcarddash {
    display:block;
    
    

    
}
.kcarddash img{
    width:45%;
    
    margin: auto;   

}
.kcarddash label{      
    margin: auto;
    font-size: 15rem;   

}

