*{
    box-sizing: border-box;
}

@media screen and (max-width: 780px){
    body{  
        display:flex;
        flex-direction;
        width: 780px;
    }
    .kContainrdash{   
        
            grid-column: 1/2;
    }     
    
    
}

@media screen and (max-width: 380px){
    body{        
        width: 780px;
    }
    .kContainrdash{   
        
            grid-column: 1/2;
    }     
    
    
}

body{
    max-width: 1980px; 
    min-width: 360px;   
    
    background-color: #7d7daf;   
    
    margin-top: 0px;
    
   
    
}



.kContainrDash{
    display:grid;
    grid-template-columns: 25% 75% ;    
    grid-template-rows: auto;
       
    width:80%;
    height:auto;
    margin:auto ;   
    background-image: linear-gradient(#f3f3f3 ,#6498d4,#6498d4,#e77ceb );
    border-radius: 5rem;
    
}


.kmainDash{  
    grid-row: 2;
    grid-column: 2;
    width:80%;
    height:auto;  
}
.kcarddash{
    display: flex;
    flex-direction: column;
    
}

.imageDash{
    /*width: fit-content;*/
    
    margin:auto; ;
    margin-top: 50px ;
    margin-bottom: 25px;
    border:  solid 3px #a7d7eb;
    
    border-bottom: solid 1px #6498d4;
    
    border-radius: 3px ;
    border-width: 33px 28px 19px 33px;
    box-shadow: 0px 5px 2px 3px #e77ceb;
    opacity: 50%;
}

#lbldashtp{
    color: #7d7daf;
    margin-left:120px;
    font-size: 75px;
    
}
#lbldash{
    color: #63638f;
    margin-left:30px;
    font-size: 75px;
    
}
