.body{
    min-width: 420px;
    max-width: 2250px;  
    
    margin-top: 0;

}
.kheadr{
    /* background-color: #7e4803; */  
      margin: auto; 
      display:flex;
     flex-wrap: wrap;     
  
  }
.Kbanner{
    /*background-color: #7daf85;*/
    display:flex;
    flex-wrap: wrap;
    margin:auto;     

    justify-content: center;
}

.kTainr{
   /* background-color: #7d7daf;*/
    /*
    display:flex;
    flex-wrap: wrap;
    grid-template-columns: 280px auto 280px;
    grid-template-rows: 180px auto 200px;
    */
    display:block;
    
    

    
      

    width:auto;
    height: auto;
    
}

.knav{
   /*background-color: #c3e01b;*/
   
    
}



.kmain{
    /*background-color: #2a2ae2;*/      
    height:auto;
    margin: auto;

}

.kside{
    /*background-color: #01632d;*/   
    margin: auto;

}
.kAbyss{
    /*background-color: #410541;*/   
    margin: auto;

    

}

