body{
    background-image: linear-gradient(#6498d4 ,#6498d4,#e77ceb ,#6498d4,#6498d4 );
    background-color: #7a7baf;
    flex-wrap: wrap ;
    margin:0;
   
    
}

.kContainr{
    width:1980;
    height: 100%;    

    background-image: linear-gradient(#6498d4 ,#6498d4,#e77ceb ,#6498d4,#6498d4 );
    border-radius: 5rem;
    display:grid;
    grid-template-columns: 300px 1680px ;
    grid-template-rows: 120px 700px 500px auto;
    
    /*

    display:flex;
    flex-wrap: wrap;
    */
}

.kheader{
    grid-column: 1/2;
    grid-row: 1;

    position:fixed; 
    padding-top: 25px;
    margin-left: 250px;
    margin-bottom: 30px;   
    
    width: 1680px;
    height: 100px;    
    
    background-color: #7a7baf;

    border-bottom: solid 1px #6498d4;
    
    border-radius: 3px 8px 4rem 4rem;
    border-width: 3px 8px 9px 0px;
    box-shadow: 0px 5px 2px 3px #e77ceb;
    

    display:grid;
    grid-template-columns: 400px 700px 400px;
    grid-template-rows: 40px 80px;

    

}
.knav{
    grid-column: 1;
    grid-row: 2;

}
.kmain{
    border-right: solid 1px #6498d4;
    grid-column: 2/3;
    grid-row: 2/3;
    

    display: flex;
    flex-wrap: wrap ;
    margin-top: 50px;   


}
.kside{
    grid-column: 2;
    grid-row: 3;
    
}
.kfooter{
    grid-column:2/3;
    grid-row: 2/3;

}

.kcard{
    display: flex;
    flex-wrap: wrap ;
    

    
    

    
    
    
}
.kcard img{
    
    width:200;
    

    
    
    
}
.kcard2{    
    
    object-fit: fill;
    
    
    
    
}
.sonoimage{
    display:none;
    grid-column: 1;
    width: 100px;
    height:100px;
    border-radius: 5rem;
    margin-left: 100px;
    opacity: 70%;
    
}

.image{
    /*width: fit-content;*/
    width: 300px;
    height:400px;
    margin-right: 25px;
    margin-bottom: 25px;
    border:  solid 3px #a7d7eb;
    
    


}
.imagetp{
    /*width: fit-content;*/
    width: 500px;
    height:400px;
    margin-left: 25px;
    margin-bottom: 25px;
    border:  solid 3px #a7d7eb;
    


}
.imageRt{
    width: 400px;
    height:400px;
    
    margin-bottom: 25px;
    border:  solid 3px #a7d7eb;
}
.imageMx{
    width:500px;
    height:400px;
    
    margin-bottom: 25px;
    border:  solid 3px #a7d7eb;
}

.imageSon{
    width:500px;
    height:400px;
    
    margin-bottom: 25px;
    margin-right: 25px;
    border:  solid 3px #e77ceb;
}
.kheadr2{
    grid-column: 2;
    font-size: 40px;
    color: #f3f3f3;
    
    margin: auto;
}
/***-----------{  Knav  }--------------*/
.knavlog{
    grid-column: 1;
   max-width: 250px;   
}


/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 200px;
    left: 0;
    background-color:#7a7baf; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;  /*0.5 second transition effect to slide in the sidebar */

    border-right: solid 1px #6498d4;
    border-top: solid 1px #6498d4;
    border-radius: 4rem 4rem 4rem 4rem;
    border-width: 3px 8px 9px 0px;
    box-shadow: 0px 5px 2px 3px #e77ceb;
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:#f3f3f3;
    display: block;
    /*transition: 0.3s;*/
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    box-shadow: 0px 5px 2px 3px #6498d4;
    color: #e77ceb;
    padding:5px;
    border:  solid 3px #e77ceb;
    border-radius: 10px;
    width: 200px; 
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    color: #91bae7;
    border: none;
    background-color: transparent;
    
    
    padding-left: 60px;
    padding-right: 80px;
    padding-bottom: 3%;
    padding-top: 5%;
    text-decoration: none;
    font-size: 22px
  }

  .closebtn:hover {
    cursor: pointer;
    color: #e77ceb;
    border: none;
    padding-bottom: 15px;
}
.kNavCtrl{
  grid-column: 1;
    width: 80px;
}
  /* The button used to open the sidebar */
  .openbtn {
    position: fixed;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80px;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    color: #f3f3f3;
    padding: 200px 15px;

    border: none;
  }
  
  .openbtn:hover {
    color:#e77ceb;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
