.body{
      
    
    background-image: linear-gradient(#f3f3f3,#6498d4,#e77ceb,#f3f3f3 ); 

    
    
}
.kheadr{

/*    position: fixed;*/
    
    width: 100%;
    background-image: linear-gradient(#f3f3f3,#6498d4,#e77ceb,#f3f3f3 );  
    
    
    font-size: 5rem;
    
    font-family: "Trade Winds", system-ui;
    font-family: "Salsa", cursive;
    font-family: "Mogra", system-ui;    
    font-weight: 400;
    font-style: normal;
    color: #2d2268;  
  
  }

  .kheadr1{
    margin: auto;
    margin-top: 50px;
    display:block;
  }

  .kheadr1 span{
    color: #7d0788;
  }

.Kbanner{
    height:500
    
    
}


.kBanner1{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    
    
    
}

.kTainr{
    background-image: linear-gradient(#f3f3f3,#6498d4,#e77ceb,#f3f3f3 ); 
}


.knav{
    
    
}



.kmain{

    margin-left: 10%;
   

}
.krow{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    /*
    display: block;
    margin: auto;
    */

}

.KcardMain{
    
}
.kside{
    

}
.kAbyss{
   

    

}


/*------------------MEDIA---------------------------------*/
@media screen and (max-width:1180px) {

    .krow{
        

    }
    .kheadr1{

        
       
    
    }



}

@media screen and (max-width:380px) {

    .krow{
        display: block;
        margin: auto;

    }
    .kmain{
        display:block;

        margin-left: 10%;
       
    
    }



}
