
.mogra-regular {
    font-family: "Mogra", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .trade-winds-regular {
    font-family: "Trade Winds", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .salsa-regular {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
  }







  .kBanner1{
    margin: 0;
    margin-top:  5%;
    padding: 0;
    
    color: #791e7c;
    font-size: 3rem;

    border:solid;
    border-width: 3px;
    border-radius: 30px;
    border-color:#7d7daf;
     
 
      
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;

    width:fit-content;
    height: fit-content;
    background-image: linear-gradient(#f3f3f3,#6498d4,#e77ceb,#f3f3f3 );   
    text-align: center;
  }
  
.kBanner2 img{
     
        
    width: 900px;
    height:fit-content;
    
    margin: auto;
    margin-top: 11%;
    margin-right: 0;
    
    border: solid  #e77ceb;    
    border-radius: 13rem ;

    border-width: 3px 8px 19px 18px;
    box-shadow: 9px 5px 2px 3px #3280e6;

}
.kBanner3 img{
    
    
    width:500px;
    padding: 0;

    
    margin-left: 10%;
    
    
    margin-top: 70%;
    
    border: solid  #e77ceb;    
    border-radius: 5rem ;

    border-width: 3px 8px 19px 18px;
    box-shadow: 9px 5px 2px 3px #3280e6;

}
.KcardMain img{
    width: 800px;
    height: auto;
    padding: 0;

    margin-top: 70%;
    
    border: solid  #e77ceb;    
    border-radius: 5rem ;

    border-width: 3px 8px 19px 18px;
    box-shadow: 9px 5px 2px 3px #3280e6;
}
.kArt_1 img{
    width: 500px;
    height: auto;
    padding: 0;

    
    margin-left: 10%;
    
    
    margin-top: 70%;
    
    border: solid  #e77ceb;    
    border-radius: 5rem ;

    border-width: 3px 8px 19px 18px;
    box-shadow: 9px 5px 2px 3px #3280e6;
}





/*------------------MEDIA---------------------------------*/

@media screen and (max-width:980px) {

    .kBanner2 img{
        width: 500px;
        margin-top: 20%;
    }

    .kArt_1 img{
        width: 500px;
        
        margin: auto;
        margin-top: 20%;

    }

    .KcardMain img{
        width: 500px;
        margin-top: 20%;
    }



}

@media screen and (max-width:380px) {

    .kBanner2 img{
        width: 300px;
    }
    .kArt_1 img{
        width: 300px;

    }

    .KcardMain img{
        width: 300px;
        margin-top: 20%;
    }



}

