*{
    box-sizing: border-box;
 }  

@media screen and (max-width: 780px){

    body{
        background-color: #3280e6;
        /*
        display:flex;
        flex-direction: column;
        */
        
        
        
    }
    .kContainrPhotoSht{   
        display:flex;
        flex-direction: column;

        background-color: #3280e6;
        width: 780px;
        height:  auto;
        margin:auto;
    }        
        
    .kmainphotosht{
        display:flex;
        flex-direction: column;
        
        width: 100%;
        
        margin-top: 75px;
        margin-left: 0px;
        
        
        
    }
    .imagetop{

        width:  100%;
        height: fit-content;
    }
    .imageBlu{
        width:  100%;
        width:  fit-content;
    }
    .imagePnk{
        width:  100%;
        width:  fit-content;
    }
    .kcardphotosht{        
        width:  50%;
        height:  auto;
    }
     .title{
        
        font-size: 50px;
        padding-top:0px;
        margin-bottom: 0px;
    }
}
    @media screen and (max-width: 380px){
        body{
            display:flex;
            flex-direction: column;
            width: 380px;
        }
        .kContainrPhotoSht{   
            background-color: #66df70;
            width: 380px;
                grid-column: 1;
        }   
        .kmainphotosht{
        
        
            width: 100%;
            
            margin-top: 75px;
            margin-left: 0px;
            
            
            
        }     
        

    }







body{
    max-width: 1980px; 
    min-width: 386px;
    
    width: 1980px;
    background-color: #7d7daf;   

    margin-top:0;
    display:inline-block;
    
    /*
    display:grid;
    grid-template-columns: 200px 1580px ;    
    grid-template-rows: 120px 700px 500px auto;
    */
    
   
    
}


.kContainrPhotoSht{   
/*
    display: grid;    
    grid-template-rows:  auto auto auto;
    grid-template-columns: 1fr 1fr 1fr  ;

    margin-left: 300px;
 */
 width: 100%;
 height: auto;  
 margin: auto;
 
 margin-top: 100px;
 
 
 border-radius: 5rem;
 
}
.kTainrPhotoSht{

    
    width: 60%;
    height: 40rem;  
    
    margin: auto;  
    
    
    background-image: linear-gradient(#f3f3f3,#6498d4,#e77ceb );
    
    border-radius: 5rem;
   
}

.kheaderPhotoSht{
    
    width: 500px;
    height: fit-content;  
    padding:60px;
    padding-top:30px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 50px;

    background-image: linear-gradient(#6498d4 ,#6498d4,#e77ceb );
    border-radius: 2rem;

    
    
    
}

.kmainphotosht{

    
    
    display:flex;
    flex-wrap: wrap;
    

    width: 90%;
    height: auto;  

    margin: auto;
    margin-top: 15rem;
    padding-top: 15rem;
    
    
    
    background-image: linear-gradient(#f3f3f3,#6498d4,#e77ceb,#f3f3f3 );    
    border-radius: 5rem;
    
}
.kcardphotosht{
    /*
    display: grid;    
    grid-template-rows:  auto auto auto;
    grid-template-columns: 1fr 1fr 1fr  ;
*/
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    
    

    gap: 100px;
    margin-bottom: 175px;
    margin: auto;
    
}

.title{
    color:#545496;
    font-size: 75px;
    padding-top: 150px;
    
    margin-right: 2rem;
    margin-left: 2rem;

    
    
}
.imagetop{

    width: 600px;
    height: 500px;
    margin: auto;
    margin-top: 2rem;
    margin-left: 40rem;
    
    
    
    border:  double 3px #3280e6;

    border-bottom: solid 1px #e44ae9;
    
    border-radius: 20px ;
    border-width: 13px 8px 20px 18px;
    box-shadow: 9px 5px 2px 3px #f3f3f3;
}

.imageBlu{
    
    width: fit-content;
    height: auto;
    margin-bottom: 50px;
    
    border:  double 3px #3280e6;

    border-bottom: solid 1px #e44ae9;
    
    border-radius: 20px ;
    border-width: 13px 8px 20px 18px;
    box-shadow: 9px 5px 2px 3px #f3f3f3;
}

.imagePnk{
    
    
    width: fit-content;
    margin-bottom: 50px;
    border:  double 3px #e44ae9;

    border-bottom: solid 1px #3280e6;
    
    border-radius: 15px ;
    border-width: 3px 8px 19px 18px;
    box-shadow: 9px 5px 2px 3px #f3f3f3;
}
