
.body{
 
      

    
    
}
.kTainr{
  width:380px;
  height:760px;
  background-image: linear-gradient(#f3f3f3,#6498d4,#e77ceb,#f3f3f3 ); 
  border: solid 5px 5px 2px 3px #000066; 
  box-shadow: 0px 5px 2px 3px #000066;

  margin-top: 0;


 

}

.kheadr{
height: 80px;
width: 100%;
          
  
}
.Kbanner{
  margin-left:50px;
  
}
.kcard{
  margin-left:50px;
}



.kNavCtrl{
   scale: .75;
   margin-left: 0;
   position: fixed;
  
}



.kmain{
    

}

.kside{
  

}
.kAbyss{
 
    
  

}




.kcardReg{

    display: flex;
    flex-direction: row;

    width: 100%;
    height:auto;
    margin-left: 00px ;
    margin-right: 50px ;
    
    margin-top: 20px ;

    border:  solid 3px #a7d7eb;
    
    border-bottom: solid 1px #6498d4;
    
    border-radius: 3px ;
    border-width: 33px 28px 19px 33px;
    box-shadow: 0px 5px 2px 3px #e77ceb;
    opacity: 100%;
    background-color: #f3f3f3;
    font-size: 25px;
    
}
.kcardReg img{
    width: 100%;
    }
