body{
    margin: auto;
   
    background-image: url(SonoMbleLndscpe.svg);
    background-image: url(treeOfLife.jpg);
    background-image: url(SonoMbleLndscpe.svg);
    background-repeat: no-repeat;  
    
    background-size: cover;
    margin: 0;
    scale: .3;
}

.kTainr{
    
    /*
    display:flex;
    flex-wrap: wrap;
    */
    

    
    

   

}

.knav{
    
    

}

.kheadr{


    
    

}

.kmain{
       

}

.kside{
    
    

}
.kAbyss{
    
    

    

}

